

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(30, 38%, 92%);
  color: hsl(215, 32%, 27%);
  line-height: 1.5;
}

.card-image img {
  width: 100%;

  height: 100%;
  object-fit: cover;
}


.card {
  width: 90%;
  max-width: 350px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: auto;
}

/*  */

.card-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-title {
  font-size: 1.25rem;
  margin: 0;
  color: hsl(217, 19%, 35%);
}

.product-description {
  font-size: 0.9rem;
  color: hsl(214, 17%, 51%);
}

/* الأسعار */

.product-price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.current-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.old-price {
  font-size: 0.9rem;
  text-decoration: line-through;
  color: hsl(215, 32%, 27%);
}

/* الزر */

.btn-add {
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}
button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: hsl(158, 36%, 25%);
}

/* عند الشاشات الأكبر من 600px */
@media (min-width: 600px) {
  .card {
    max-width: 600px;
    grid-template-columns: 1fr 1fr; /* الصورة بجانب النص */
  }

  .card-content {
    padding: 2rem;
  }
}
