body {
  background-color: hsl(30, 38%, 92%); 
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;  
  align-items: center;    
   height: 100vh;
  margin: 0;
  overflow: hidden;  
}

.card {
background: white;
    border-radius: 12px;
    margin: 40px 10px;
    min-width: 306px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column; 
}
.card-img{
  flex:  0 0 50%;
   background-image: url("./images/image-product-mobile.jpg");
background-size: cover;
background-position: center;
min-height: 400px;
  }




.card-content {
  padding: 20px;
 
}

.price {
  color: hsl(158, 36%, 37%);
  font-size: 24px;
  font-weight: bold;
}
p{
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.perfume{
  letter-spacing: 6px;
}

.old-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  
  margin-left: 10px;
}
.cart-icon{
  margin-right: 7px;
}
button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: hsl(158, 36%, 25%);
}
@media only screen and (min-width: 600px) {
  .card{
    flex-direction: row;
    width: 600px;
  }
  .card-img{
  background-image: url("./images/image-product-desktop.jpg");
  }
}